.footer {
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    color: rgb(100 116 139);
    .ant-row {
        margin: 1rem 0 1rem 0;
    }
    .rc-footer {
        padding-right: 0.7rem;
        display: flex;
        align-items: center;
        max-width: 25%;
        a {
            color: rgb(100 116 139);
        }
        a:hover {
            color: #fff;
        }
    }
    .rc-footer:not(:first-child) {
        padding-left: 0.7rem;
    }
    .rc-footer:not(:last-child) {
        border-right: solid 1px rgb(100 116 139);
    }
}
